In [1]:
import pandas as pd
course_name = ['Data Science','Machine learning','Big Data','Data Engineer']
duration=[2,3,6,4]
df = pd.DataFrame(data = {'course_name':course_name,'duration':duration})
df

        course_name  duration
0      Data Science         2
1  Machine learning         3
2          Big Data         6
3     Data Engineer         4

In [2]:
#Q1. Write a code to print the data present in the second row of the dataframe, df.

In [3]:
df[1:2]

        course_name  duration
1  Machine learning         3

In [4]:
Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?
loc:  this function surpass the boundary of row index.
      this function executed for column names.
iloc: this function does not surpass the boundary of row index.
      whereas this function executed for numerical column names.

SyntaxError: invalid syntax (2816785865.py, line 2)

In [ ]:
#df.iloc[1:2,['course_name','duration']]
df.iloc[1:2 , [0,1]]

In [ ]:
df.loc[1:2,['course_name','duration']]

In [ ]:
Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df
then find the output for both new_df.loc[2] and new_df.iloc[2].

In [ ]:
reindex = [3,0,1,2]
new_df = df.reindex(reindex)
new_df

In [ ]:
new_df.loc[2]
new_df.iloc[2]

In [ ]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)
df1

In [ ]:
#Q4. Write a code to find the following statistical measurements for the above dataframe df1:
#(i) mean of each and every column present in the dataframe.

In [ ]:
df1.mean()

In [ ]:
(ii) standard deviation of column_1, ‘column_2’

In [ ]:
df2 = df1[['column_1','column_2']]
df2.std()

In [ ]:
Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the
mean of column, column_2.

In [ ]:
df1

In [ ]:
df1.loc[2,'column_2']='alpha'
df1
# Meanofcol2=df1['column_2'].mean().... Give error because we can not add string and float values together.

In [ ]:
Q6. What do you understand about the windows function in pandas and list the types of windows
functions?
In Pandas, the window function is used to perform various calculations on a rolling or expanding window of data in a DataFrame
or Series. This allows you to compute statistics, aggregates, or other operations over a specific window of rows at a time, 
which is especially useful for time series data and moving calculations.
Here are some common types of window functions:
    Aggregation Functions:-sum, mean, median,min,max
    Statistical Functions:- std,var
    Quantile Functions:- quantile(q)
    Covariance and Correlation Functions:-
    Resampling Functions:
    Expanding Window Functions:
    Window Transformation Functions:applymap(),agg()

In [ ]:
Q7. Write a code to print only the current month and year at the time of answering this question.

In [ ]:
data = pd.date_range(start= '13-09-2023',  end = '30-09-2023')
time_date = pd.DataFrame({'date':data})
time_date['update_time'] = pd.DataFrame({'date':data})
time_date['year'] = time_date['update_time'].dt.year
time_date['year']
time_date['month'] = time_date['update_time'].dt.month
time_date['month']
time_date

In [ ]:
Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and
calculates the difference between them in days, hours, and minutes using Pandas time delta. The
program should prompt the user to enter the dates and display the result.

In [ ]:
from datetime import date
 
 
def numOfDays(date1, date2):
  #check which date is greater to avoid days output in -ve number
    if date2 > date1:  
        return (date2-date1).days
    else:
        return (date1-date2).days
 
 
# Driver program
date1 = date(2023, 12, 13)
date2 = date(2023, 2, 25)
print(numOfDays(date1, date2), "days")

In [ ]:
Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified
column to a categorical data type. The program should prompt the user to enter the file path, column
name, and category order, and then display the sorted data.

In [ ]:
def process_csv():
    # Prompt the user for the file path
    file_path = input("Enter the path to the CSV file: ")

    try:
        # Read the CSV file into a DataFrame
        df = pd.read_csv(file_path)
        
        # Prompt the user for the column name to convert
        column_name = input("Enter the column name to convert to categorical: ")
        
        # Check if the specified column exists in the DataFrame
        if column_name not in df.columns:
            print(f"Column '{column_name}' not found in the CSV file.")
            return

        # Prompt the user for the category order
        categories = input("Enter the category order (comma-separated): ").split(',')
        
        # Convert the specified column to a categorical data type with the specified order
        df[column_name] = df[column_name].astype(pd.CategoricalDtype(categories=categories, ordered=True))

        # Display the sorted data
        sorted_df = df.sort_values(by=[column_name])
        print("\nSorted Data:")
        print(sorted_df)
        
    except FileNotFoundError:
        print("File not found. Please check the file path.")
    except Exception as e:
        print(f"An error occurred: {str(e)}")

# Main program
if __name__ == "__main__":
    process_csv()

In [ ]:
Q10. Write a Python program that reads a CSV file containing sales data for different products and
visualizes the data using a stacked bar chart to show the sales of each product category over time. The
program should prompt the user to enter the file path and display the chart.

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

# Function to read and visualize sales data
def visualize_sales():
    # Prompt the user for the file path
    file_path = input("Enter the path to the CSV file containing sales data: ")

    try:
        # Read the CSV file into a DataFrame
        df = pd.read_csv(file_path)
        
        # Pivot the data to create a DataFrame suitable for stacking
        pivot_df = df.pivot(index='Time', columns='Product Category', values='Sales Amount')
        
        # Create a stacked bar chart
        pivot_df.plot(kind='bar', stacked=True, figsize=(10, 6))
        
        # Customize chart labels and title
        plt.xlabel('Time')
        plt.ylabel('Sales Amount')
        plt.title('Stacked Bar Chart of Sales by Product Category Over Time')
        
        # Display the chart
        plt.legend(title='Product Category', bbox_to_anchor=(1.05, 1), loc='upper left')
        plt.tight_layout()
        plt.show()

    except FileNotFoundError:
        print("File not found. Please check the file path.")
    except Exception as e:
        print(f"An error occurred: {str(e)}")

# Main program
if __name__ == "__main__":
    visualize_sales()

In [ ]:
Q11. You are given a CSV file containing student data that includes the student ID and their test score. Write
a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and
displays the results in a table.

In [18]:
inpt=input("Enter name of csv file:")
student_data = pd.read_csv(inpt)
student_data
mean=student_data['Test Score'].mean()
median=student_data['Test Score'].median()
mode=student_data['Test Score'].mode()
print("+-----------+--------+")
print("| Statistic | Value |")
print("+-----------+--------+")
print("| Mean |",mean,"|")
print("| Median |",median,"|")
print("| Mode |",mode,"|")

Enter name of csv file:Student_data.csv
+-----------+--------+
| Statistic | Value |
+-----------+--------+
| Mean | 84.5 |
| Median | 85.0 |
| Mode | 0    85
Name: Test Score, dtype: int64 |